/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.test_slider_vd__slider-container{
    background-color: #FDEDF2;
    width: 100vw !important;
    max-width: 100vw !important;

    position: relative;
    left: 50% !important;
    right: 50%!important;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
}

.test_slider_vd__slider-wrapper {
    padding-left: 7% !important;
    padding-right: 7% !important;
}

.test_slider_vd__slider-title {
    direction: rtl;
    font-weight: 400;
    font-size: 40px;
    padding-right: 14px;

}

.test_slider_vd__slick-slider .slick-prev {
    position: absolute;
    top: 26%;
    left: -5.5%;
    background-color: transparent;
    border: none;
}

.test_slider_vd__slick-slider .slick-next {
    position: absolute;
    top: 26%;
    right: -5.5%;
    transform: rotate(180deg);
    background-color: transparent;
    border: none;
}

.test_slider_vd__slick-slider .slick-slide {  
    background-color: #FDEDF2;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.test_slider_vd__slick-slider .slick-slide > div > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.test_slider_vd__slick-slider .slick-slide > div > div > hr {
    color: #6C6C6C;
}

.test_slider_vd__slick-slider .slick-slide > div > div > h2 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.test_slider_vd__slick-slider .slick-slide > div > div > p {
    text-align: center;
    font-weight: 400;
    font-size: 24px;

}